{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <h2>Choose a Subscription Plan</h2>

    <div class="row mt-4">
        {% for plan in subscriptions %}
        <div class="col-md-4 mb-3">
            <div class="card border-primary h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ plan.subscriptionType|capfirst }}</h5>
                    <p class="card-text">
                        Price: SAR {{ plan.price }} <br>
                        Tours Limit: {{ plan.tours_limit|default:"Unlimited" }} <br>
                        Supervisors Limit: {{ plan.supervisors_limit|default:"Unlimited" }} <br>
                        Travelers Limit: {{ plan.travelers_limit|default:"Unlimited" }}
                    </p>
                    <form method="POST" action="{% url 'agency:select_subscription' plan.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary w-100">
                            Select Plan
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
